### üìö Íµ¨Ï≤¥Ï†ÅÏù∏ Í≥ºÏ†ú ÏàòÌñâ Í≥ºÏ†ï

#### 1Ô∏è‚É£ Îç∞Ïù¥ÌÑ∞ÏÖã ÌÉêÏÉâ

- pandas ÎùºÏù¥Î∏åÎü¨Î¶¨Ïùò read Ìï®Ïàò ÏÇ¨Ïö©ÌïòÏó¨ Îç∞Ïù¥ÌÑ∞ ÌååÏùºÏùÑ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú Î∂àÎü¨Ïò§Í∏∞

In [63]:
# Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
import pandas as pd

# csv ÌååÏùº Î∂àÎü¨Ïò§Í∏∞ (./Îäî ÌòÑÏû¨ ÎîîÎ†âÌÜ†Î¶¨Ïóê ÏûàÎäî ÌååÏùºÏùÑ Í∞ÄÏ†∏Ïò§Í≤†Îã§Îäî ÎúªÏù¥Îã§.)
df = pd.read_csv('./supervised_learning_data/housingdata.csv')

# Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÌôïÏù∏
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,NaN,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,NaN,2.5050,1,273,21.0,396.90,7.88,11.9

In [64]:
print('housingdata.csv Îç∞Ïù¥ÌÑ∞ ÌÉêÏÉâ')
print('-'*130)

# Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùò Ï†ïÎ≥¥ ÌôïÏù∏ (Ïª¨Îüº, Í≤∞Ï∏°Í∞í, Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ Îì±)
df.info()
print('-'*130)

print(f'Ïª¨Îüº : {list(df.columns)}')
print('-'*130)

print(f'Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùò ÌÅ¨Í∏∞ (Ìñâ,Ïó¥) : {df.shape}')
print('-'*130)

# Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùò ÏöîÏïΩ ÌÜµÍ≥ÑÎüâ ÌôïÏù∏
df.describe()

housingdata.csv Îç∞Ïù¥ÌÑ∞ ÌÉêÏÉâ
----------------------------------------------------------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     486 non-null    float64
 1   ZN       486 non-null    float64
 2   INDUS    486 non-null    float64
 3   CHAS     486 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      486 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    486 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB
----------------------------------------------------------------------------------------------------------------------------------
Ïª¨Îüº : ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
----------------------------------------------------------------------------------------------------------------------------------
Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùò ÌÅ¨Í∏∞ (Ìñâ,Ïó¥) : (506, 14)
----------------------------------------------------------------------------------------------------------------------------------

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,486.000000,486.000000,486.000000,486.000000,506.000000,506.000000,486.000000,506.000000,506.000000,506.000000,506.000000,506.000000,486.000000,506.000000
mean,3.611874,11.211934,11.083992,0.069959,0.554695,6.284634,68.518519,3.795043,9.549407,408.237154,18.455534,356.674032,12.715432,22.532806
std,8.720192,23.388876,6.835896,0.255340,0.115878,0.702617,27.999513,2.105710,8.707259,168.537116,2.164946,91.294864,7.155871,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.081900,0.000000,5.190000,0.000000,0.449000,5.885500,45.175000,2.100175,4.000000,279.000000,17.400000,375.377500,7.125000,17.025000
50%,0.253715,0.000000,9.690000,0.000000,0.538000,6.208500,76.800000,3.207450,5.000000,330.000000,19.050000,391.440000,11.430000,21.200000
75%,3.560263,12.500000,18.100000,0.000000,0.624000,6.623500,93.975000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

##### üí° housingdata.csv ÌååÏùºÏùÑ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú ÎßåÎì† ÌõÑ Ïó¨Îü¨ Î©îÏÑúÎìúÎ•º ÏÇ¨Ïö©Ìï¥ ÌÉêÏÉâÌïú Í≤∞Í≥º

1. 506Ìñâ, 14Ïó¥Ïùò Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏù¥Îã§.
2. Ï¥ù 14Í∞úÏùò Ïª¨ÎüºÏù¥ Ï°¥Ïû¨ÌïúÎã§. ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV' ]
3. range index(Ïó∞ÏÜç Ï†ïÏàòÌòï Ïù∏Îç±Ïä§)Í∞Ä Ï¥ù 506Í∞ú, Ï¶â, 0Î∂ÄÌÑ∞ 505Ïù∏Îç±Ïä§ÍπåÏßÄ ÏûàÏùåÏùÑ Ïïå Ïàò ÏûàÎã§.
4. Îî∞ÎùºÏÑú, Non-Null CountÍ∞Ä 506 non-nullÏù¥ ÏïÑÎãå ['CRIM', 'ZN', 'INDUS', 'CHAS','AGE','LSTAT'] Ïª¨ÎüºÏùÄ Í≤∞Ï∏°Í∞íÏù¥ ÏûàÎäî Í≤ÉÏûÑÏùÑ Ïïå Ïàò ÏûàÎã§. 
5. 'RAD', 'TAX'Îäî Ï†ïÏàòÌòï, Í∑∏ Ïô∏Îäî Î™®Îëê Î∂ÄÎèô ÏÜåÏàòÏ†ê Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖÏù¥Îã§.

---

#### 2Ô∏è‚É£ Îç∞Ïù¥ÌÑ∞ÏÖã Ï†ÑÏ≤òÎ¶¨ (Í≤∞Ï∏°Ïπò Ï≤òÎ¶¨, Ïù¥ÏÉÅÏπò ÌÉêÏßÄ Î∞è Ï†úÍ±∞, ÌäπÏßï ÏÑ†ÌÉù)
##### üí° Ï†ÑÏ≤òÎ¶¨Îäî Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑù Î∞è Î®∏Ïã†Îü¨Îãù Î™®Îç∏ÎßÅÏùÑ ÏúÑÌï¥ Îç∞Ïù¥ÌÑ∞Î•º Ï§ÄÎπÑÌïòÎäî Í≥ºÏ†ïÏúºÎ°ú, Îç∞Ïù¥ÌÑ∞Ïùò ÌíàÏßàÏùÑ ÎÜíÏù¥Í≥† Î∂ÑÏÑù Í≤∞Í≥ºÏùò Ïã†Î¢∞ÏÑ±ÏùÑ ÌôïÎ≥¥ÌïòÍ∏∞ ÏúÑÌïú ÌïÑÏàòÏ†ÅÏù∏ Í≥ºÏ†ï 
##### üìù Í≤∞Ï∏°Ïπò Ï≤òÎ¶¨ (Îç∞Ïù¥ÌÑ∞ÏÖãÏóêÏÑú ÎàÑÎùΩÎêú Í∞íÏùÑ Ï≤òÎ¶¨ÌïòÎäî ÏûëÏóÖ) : Í≤∞Ï∏°ÏπòÎ•º Ï≤òÎ¶¨ÌïòÏßÄ ÏïäÏúºÎ©¥ Î™®Îç∏Ïùò ÏÑ±Îä•Ïù¥ Ï†ÄÌïòÎê† Ïàò ÏûàÎã§.

- Í≤∞Ï∏°Í∞íÏù¥ÎÇò Ïù¥ÏÉÅÏπòÎäî Îç∞Ïù¥ÌÑ∞Ïùò ÌíàÏßàÏùÑ Ï†ÄÌïòÏãúÌÇ¨ Ïàò ÏûàÎã§. Îç∞Ïù¥ÌÑ∞ ÌíàÏßàÏù¥ ÎÇÆÏúºÎ©¥ Î™®Îç∏Ïùò ÏÑ±Îä•Ïù¥ Îñ®Ïñ¥Ïßà Ïàò ÏûàÍ≥†, ÏûòÎ™ªÎêú ÏòàÏ∏°ÏùÑ Ìï† Í∞ÄÎä•ÏÑ±Ïù¥ ÎÜíÏïÑÏßÑÎã§.
- Í≤∞Ï∏°Í∞íÏù¥ Ìè¨Ìï®Îêú Îç∞Ïù¥ÌÑ∞Îäî Í≥ÑÏÇ∞ Í≥ºÏ†ïÏóêÏÑú Ïò§Î•òÎ•º Î∞úÏÉùÏãúÌÇ¨ Ïàò ÏûàÏúºÎ©∞, Ïù¥ÏÉÅÏπòÎäî Î™®Îç∏Ïùò ÌååÎùºÎØ∏ÌÑ∞Ïóê ÌÅ∞ ÏòÅÌñ•ÏùÑ ÎØ∏Ï≥ê ÏûòÎ™ªÎêú ÌïôÏäµ Í≤∞Í≥ºÎ•º Ï¥àÎûòÌï† Ïàò ÏûàÎã§.
- Í≤∞Ï∏°Í∞íÍ≥º Ïù¥ÏÉÅÏπòÎ•º Ï†ÅÏ†àÌûà Ï≤òÎ¶¨ÌïòÎ©¥ Î™®Îç∏Ïùò ÏùºÎ∞òÌôî Îä•Î†•Í≥º ÏòàÏ∏° ÏÑ±Îä•Ïù¥ Ìñ•ÏÉÅÎê† Ïàò ÏûàÎã§. Ïù¥Îäî Î™®Îç∏Ïù¥ ÏÉàÎ°úÏö¥ Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌï¥ Îçî ÎÇòÏùÄ ÏòàÏ∏°ÏùÑ Ìï† Ïàò ÏûàÍ≤å Ìï¥Ï§ÄÎã§.

    - Ï†úÍ±∞ : Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎäî ÌñâÏù¥ÎÇò Ïó¥ÏùÑ Ï†úÍ±∞ÌïúÎã§. Ï†ïÌôïÌïú Îç∞Ïù¥ÌÑ∞Îßå Í∞ÄÏßà Ïàò ÏûàÏñ¥ Í≤∞Ï∏°ÏπòÍ∞Ä Ï†ÅÏùÑ ÎïåÎäî Ïú†Ïö©ÌïòÏßÄÎßå, **Îç∞Ïù¥ÌÑ∞ ÏÜêÏã§**Ïù¥ Î∞úÏÉùÌï† Ïàò ÏûàÎã§.
    - ÎåÄÏ≤¥ : ÌèâÍ∑†, Ï§ëÏïôÍ∞í, ÏµúÎπàÍ∞í Îì±ÏúºÎ°ú Í≤∞Ï∏°ÏπòÎ•º ÎåÄÏ≤¥ÌïúÎã§.
    - ÏòàÏ∏° : Îã§Î•∏ ÌäπÏÑ±ÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ Í≤∞Ï∏°ÏπòÎ•º ÏòàÏ∏°ÌïòÍ≥† Ï±ÑÏö¥Îã§.  

‚û°Ô∏è Ìï¥Îãπ Îç∞Ïù¥ÌÑ∞Ïùò ÌäπÏÑ±Ïóê ÎßûÍ≤å Í≤∞Ï∏°ÏπòÎ•º Ï≤òÎ¶¨Ìï¥Ïïº ÌïúÎã§.**Îã§ÏñëÌïú Î∞©Î≤ïÏùÑ ÏãúÎèÑ**Ìï¥Î≥¥Í≥† Í∞ÄÏû• Ï†ÅÌï©Ìïú Î∞©Î≤ïÏùÑ ÏÑ†ÌÉùÌïòÎäî Í≤ÉÏù¥ Ï§ëÏöîÌïòÎã§.

##### üìù ÌòÑÏû¨ Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎäî Ïª¨ÎüºÎì§

- **CRIM**: ÎßàÏùÑÎ≥Ñ 1Ïù∏Îãπ Î≤îÏ£ÑÏú® [mean : 3.611874 / min : 0.006320 / max : 88.976200]
    - ÏµúÎåìÍ∞íÏù¥ ÌÅ¨Í∏¥ÌïòÏßÄÎßå ÌèâÍ∑†Í∞íÏùÑ Î¥§ÏùÑ Îïå ÎåÄÏ≤¥Î°ú ÏûëÏùÄ Í∞íÏóê Î™∞Î†§ÏûàÎäî Í≤É Í∞ôÏïÑ, ÌèâÍ∑†Í∞íÏúºÎ°ú ÎåÄÏ≤¥Ìï¥Ï£ºÍ≤†Îã§.
- **ZN**: 25,000ÌèâÎ∞©ÌîºÌä∏ Ïù¥ÏÉÅÏùò Î∂ÄÏßÄÏóê ÎåÄÌï¥ Íµ¨ÌöçÎêú Ï£ºÍ±∞Ïö© ÌÜ†ÏßÄÏùò ÎπÑÏú® [mean : 11.211934 / min : 0.000000 / max : 100.000000]
    - Îç∞Ïù¥ÌÑ∞Î•º Î¥§ÏùÑ Îïå 0Ïù¥ Ïù¥Ïñ¥ÏßÄÎã§Í∞Ä Ïñ¥ÎîîÎäî ÏàòÏπòÍ∞Ä Î™∞Î†§ÏûàÎäî, Íµ∞ÏßëÌôîÎêú ÏñëÏÉÅÏùÑ ÎùÑÍ≥† ÏûàÎã§. ÎπÑÏñ¥ÏûàÎäî Í≤∞Ï∏°Í∞íÏóê ÏïÑÎ¨¥Í±∞ÎÇò ÎÑ£Ïñ¥ÎÜìÏúºÎ©¥ Íµ∞ÏßëÌôîÍ∞Ä Íπ®Ïßà ÏàòÎèÑ ÏûàÏùÑ Í≤É Í∞ôÏïÑ, Í≤∞Ï∏°Í∞íÏù¥ ÏûàÎäî ÌñâÏùÄ Ï†úÍ±∞ÌïòÍ≤†Îã§.
- **INDUS**: ÎßàÏùÑÎ≥Ñ ÎπÑÏÜåÎß§ÏóÖÎ¨¥ ÏßÄÏó≠ ÎπÑÏú® [mean : 11.083992 / min : 0.460000 / max : 27.740000]
    - Í∞íÏù¥ ÏµúÏÜüÍ∞íÎ∂ÄÌÑ∞ ÏµúÎåìÍ∞íÍπåÏßÄ Í≥†Î£® Î∂ÑÌè¨ÌïòÎäî ÏñëÏÉÅÏùÑ Î≥¥Ïó¨ÏÑú, ÌèâÍ∑†Í∞íÏúºÎ°ú ÎåÄÏ≤¥Ìï¥Ï£ºÍ≤†Îã§.
- **CHAS**: Ï∞∞Ïä§ Í∞ï ÎçîÎØ∏ Î≥ÄÏàò (Í∞ïÏù¥ Ïù∏Ï†ëÌïú Í≤ΩÏö∞ 1, Í∑∏Î†áÏßÄ ÏïäÏúºÎ©¥ 0) [mean : 0.069959 / min : 0.000000 / max : 1.000000]
    - ÎçîÎØ∏Ìòï Îç∞Ïù¥ÌÑ∞Ïùò Í≤ΩÏö∞ Í≤∞Ï∏°Í∞íÏùÄ ÎÇ†Î†§Î≤ÑÎ¶¨Îäî Í≤ÉÎèÑ Í¥úÏ∞ÆÎã§Í≥† Ìï¥ÏÑú Í≤∞Ï∏°Í∞íÏù¥ ÏûàÎäî ÌñâÏùÑ Ï†úÍ±∞ÌïòÍ≤†Îã§. 
- **AGE**: 1940ÎÖÑ Ïù¥Ï†ÑÏóê ÏßÄÏñ¥ÏßÑ ÏÜåÏú†Ï£º Ï†êÏú† ÎπÑÏú® [mean : 68.518519 / min : 2.900000 / max : 100.000000]
    - Í∞íÏù¥ Í≥†Î£® Î∂ÑÌè¨ÌïòÎäî ÏñëÏÉÅÏùÑ Î≥¥Ïó¨ÏÑú, ÌèâÍ∑†Í∞íÏúºÎ°ú ÎåÄÏ≤¥Ìï¥Ï£ºÍ≤†Îã§. 
- **LSTAT**: Ïù∏Íµ¨ Ï§ë Ï†ÄÏÜåÎìùÏ∏µ ÎπÑÏú® [mean : 12.715432 / min : 1.730000 / max : 37.970000]
    - Í∞íÏù¥ Í≥†Î£® Î∂ÑÌè¨ÌïòÎäî ÏñëÏÉÅÏùÑ Î≥¥Ïó¨ÏÑú, ÌèâÍ∑†Í∞íÏúºÎ°ú ÎåÄÏ≤¥Ìï¥Ï£ºÍ≤†Îã§.

‚û°Ô∏è ÏÑ†ÌòïÌöåÍ∑Ä Î™®Îç∏ Îì±ÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ Í≤∞Ï∏°Í∞íÏùÑ ÏòàÏ∏°Ìïú ÌõÑ ÎÑ£Ïñ¥Ï§Ñ ÏàòÎèÑ ÏûàÏúºÎÇò ÏùºÎã® ÎåÄÏ≤¥ÌïòÎäî Î∞©Î≤ïÏúºÎ°ú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥Î≥¥Í≤†Îã§.

In [65]:
# Îç∞Ïù¥ÌÑ∞ÏÖãÏùò Í≤∞Ï∏°Í∞íÏùÑ Îã§Î•∏ Í∞íÏúºÎ°ú ÎåÄÏ≤¥ÌïòÍ∏∞
# inplace = True ÏòµÏÖòÏúºÎ°ú ÏõêÎ≥∏Îç∞Ïù¥ÌÑ∞ Î≥ÄÍ≤Ω

df['CRIM'].fillna(df['CRIM'].mean(), inplace=True) # ÌèâÍ∑†Í∞í
df['INDUS'].fillna(df['INDUS'].mean(), inplace=True) # ÌèâÍ∑†Í∞í
df['AGE'].fillna(df['AGE'].mean(), inplace=True) # ÌèâÍ∑†Í∞í
df['LSTAT'].fillna(df['LSTAT'].mean(), inplace=True) # ÌèâÍ∑†Í∞í

# Í∑∏ Ïô∏ Í≤∞Ï∏°Í∞íÏù¥ ÏûàÎäî ÌñâÏùÄ Ï†úÍ±∞ÌïòÍ∏∞
df.dropna(inplace=True)

print('Í∞Å Ïª¨ÎüºÎì§Ïùò Í≤∞Ï∏°Í∞í ÌòÑÌô©')
print(df.isna().sum())  # Í≤∞Ï∏°Í∞íÏù¥ Ïûò Ï≤òÎ¶¨ÎêòÏóàÎäîÏßÄ ÌôïÏù∏ (Í≤∞Ï∏°Í∞íÏùÑ ÎåÄÏ≤¥ÌïòÍ±∞ÎÇò Í≤∞Ï∏°Í∞íÏù¥ ÏûàÎäî ÌñâÏùÑ Ï†úÍ±∞Ìï¥ÏÑú Í∞Å Ïª¨ÎüºÏùò Í≤∞Ï∏°Í∞íÏù¥ 0Ïù∏ Í≤ÉÏùÑ Ïïå Ïàò ÏûàÎã§.)
print('-'*130)
df.info() # Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ Ï†ïÎ≥¥ Îã§Ïãú ÌôïÏù∏ (Ï¥ù 506ÌñâÏùò Îç∞Ïù¥ÌÑ∞ÏóêÏÑú 466ÌñâÏùò Í≤∞Ï∏°Í∞í ÏóÜÎäî Îç∞Ïù¥ÌÑ∞Î°ú Î∞îÎÄê Í≤ÉÏùÑ ÌôïÏù∏ Í∞ÄÎä•) (‚ùóÔ∏è Í≤∞Ï∏°Í∞íÏù¥ ÏûàÎäî ÌñâÏùÑ Ï†úÍ±∞ÌñàÏùÑ Îøê Ïù∏Îç±Ïä§Îäî Í∏∞Ï°¥Í≥º Í∞ôÏù¥ ÎÇ®ÏïÑÏûàÎã§Îäî Í≤É Ïú†Ïùò)

Í∞Å Ïª¨ÎüºÎì§Ïùò Í≤∞Ï∏°Í∞í ÌòÑÌô©
CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64
----------------------------------------------------------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Index: 466 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     466 non-null    float64
 1   ZN       466 non-null    float64
 2   INDUS    466 non-null    float64
 3   CHAS     466 non-null    float64
 4   NOX      466 non-null    float64
 5   RM       466 non-null    float64
 6   AGE      466 non-null    float64
 7   DIS      466 non-null    float64
 8   RAD      466 non-null    int64
 9   TAX      466 non-null    int64
 10  PTRATIO  466 non-null    float64
 11  B        466 non-null    float64
 12  LSTAT    466 non-null    float64
 13  MEDV     466 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 54.6 KB

##### üìù Ïù¥ÏÉÅÏπò(Îç∞Ïù¥ÌÑ∞ÏóêÏÑú ÎπÑÏ†ïÏÉÅÏ†ÅÏúºÎ°ú ÌÅ¨Í±∞ÎÇò ÏûëÏùÄ Í∞í) ÌÉêÏßÄ Î∞è Ï†úÍ±∞ : Ïù¥ÏÉÅÏπòÎäî Î∂ÑÏÑùÍ≤∞Í≥ºÏóê ÌÅ∞ ÏòÅÌñ•ÏùÑ ÎØ∏Ï≥ê Î™®Îç∏Ïùò ÏÑ±Îä•ÏùÑ Ï†ÄÌïòÏãúÌÇ¨ Ïàò ÏûàÎã§.
- Ï†úÍ±∞ : Ïù¥ÏÉÅÏπòÎ•º Îç∞Ïù¥ÌÑ∞ÏÖãÏóêÏÑú Ï†úÍ±∞ÌïúÎã§.
- ÎåÄÏ≤¥ : Ïù¥ÏÉÅÏπòÎ•º ÌäπÏ†ï Í∞íÏúºÎ°ú ÎåÄÏ≤¥ÌïúÎã§. 
- Î≥ÄÌôò : Ïù¥ÏÉÅÏπòÎ•º Î≥ÄÌôòÌïòÏó¨ Îç∞Ïù¥ÌÑ∞Ïùò Î∂ÑÌè¨Î•º Ï°∞Ï†ïÌïúÎã§. (Ïòà: ÏÉÅÌïúÏÑ†Ïù¥ÎÇò ÌïòÌïúÏÑ†ÏúºÎ°ú ÎåÄÏ≤¥)
- IQR Î∞©Î≤ï : IQR(interquartile Range : ÏÇ¨Î∂ÑÏúÑ Î≤îÏúÑ)ÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ Ïù¥ÏÉÅÏπòÎ•º ÌÉêÏßÄÌïòÍ≥† Ï≤òÎ¶¨ÌïúÎã§. (**Ï†ïÏàòÌòï Î∞è Ïã§ÏàòÌòï Îç∞Ïù¥ÌÑ∞**)
    - IQR Î∞©Î≤ïÏùÄ Îç∞Ïù¥ÌÑ∞Ïùò Î≤îÏúÑÏôÄ Î∂ÑÌè¨Î•º Ïù¥Ìï¥ÌïòÍ≥† Ïù¥ÏÉÅÍ∞í(outliers)ÏùÑ ÌÉêÏßÄÌïòÎäî Îç∞ ÏÇ¨Ïö©ÎêòÎäî ÌÜµÍ≥ÑÏ†Å Í∏∞Î≤ïÏù¥Îã§. IQRÏùÄ Îç∞Ïù¥ÌÑ∞ÏÖãÏóêÏÑú ÏÉÅÏúÑ 25%Î•º Ï†úÍ±∞Ìïú Ï§ëÍ∞Ñ 50%Ïùò Î≤îÏúÑÎ•º ÎÇòÌÉÄÎÇ∏Îã§. Ïù¥Îäî Îç∞Ïù¥ÌÑ∞Ïùò Ï§ëÍ∞ÑÍ∞í Ï£ºÎ≥ÄÏùò Î∂ÑÌè¨Î•º Î∂ÑÏÑùÌï† Îïå Ïú†Ïö©ÌïòÎã§.
    - Î∞±Î∂ÑÏúÑÏàò : Îç∞Ïù¥ÌÑ∞Î•º Î∞±Î∂ÑÏúÑÏàòÎ°ú ÎÇòÎàÑÏóàÏùÑ ÎïåÏùò Í∞íÏùÑ ÎÇòÌÉÄÎÇ¥Îäî ÌÜµÍ≥ÑÏ†Å Ï≤ôÎèÑ. Î∞±Î∂ÑÏúÑÏàòÎäî Îç∞Ïù¥ÌÑ∞Î•º 100Í∞úÏùò ÎèôÏùºÌïú Î∂ÄÎ∂ÑÏúºÎ°ú ÎÇòÎàÑÎäî Î∞©ÏãùÏúºÎ°ú, ÌäπÏ†ï Î∞±Î∂ÑÏúÑÏàòÎäî Ï†ÑÌÖå Îç∞Ïù¥ÌÑ∞Ïùò Î™á ÌçºÏÑºÌä∏Í∞Ä Ìï¥Îãπ Í∞í Ïù¥ÌïòÏù∏ÏßÄÎ•º ÎÇòÌÉÄÎÇ∏Îã§. 
    - Î∞±Î∂ÑÏúÑÏàòÎäî Îç∞Ïù¥ÌÑ∞Ïùò Î∂ÑÌè¨Î•º Ïù¥Ìï¥ÌïòÍ≥† Îç∞Ïù¥ÌÑ∞ Í∞ÑÏùò ÏÉÅÎåÄÏ†Å ÏúÑÏπòÎ•º ÌååÏïÖÌïòÎäî Îç∞ Ïú†Ïö©ÌïòÍ≤å ÏÇ¨Ïö©ÎêúÎã§.
        - 0 Î∞±Î∂ÑÏúÑÏàò : ÏµúÏÜüÍ∞í
        - 25 Î∞±Î∂ÑÏúÑÏàò : 1ÏÇ¨Î∂ÑÏúÑÏàò(Q1), Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞Ïùò ÌïòÏúÑ 25%Í∞Ä Ïù¥ Í∞í Ïù¥Ìïò
        - 50 Î∞±Î∂ÑÏúÑÏàò : Ï§ëÏïôÍ∞í(median), Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞Ïùò ÌïòÏúÑ 50%Í∞Ä Ïù¥ Í∞í Ïù¥Ìïò
        - 75 Î∞±Î∂ÑÏúÑÏàò : 3ÏÇ¨Î∂ÑÏúÑÏàò(Q3), Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞Ïùò ÌïòÏúÑ 75%Í∞Ä Ïù¥ Í∞í Ïù¥Ìïò
        - 100 Î∞±Î∂ÑÏúÑÏàò : ÏµúÎåìÍ∞í
        - IQR : Q3 - Q1, Ï¶â 3ÏÇ¨Î∂ÑÏúÑÏàòÏóêÏÑú 1ÏÇ¨Î∂ÑÏúÑÏàòÎ•º Î∫Ä Í∞íÏù¥Îã§.
    - IQR Î∞©Î≤ïÏùÑ ÏÇ¨Ïö©Ìïú Ïù¥ÏÉÅÍ∞í ÌÉêÏßÄ : Ïù¥ÏÉÅÍ∞íÏùÄ ÏùºÎ∞òÏ†ÅÏúºÎ°ú Îã§Ïùå Î≤îÏúÑÎ•º Î≤óÏñ¥ÎÇú Í∞íÏúºÎ°ú Ï†ïÏùò ÎêúÎã§.
        - ÌïòÌïúÍ∞í(lower_bound) : Q1 - 1.5 * IQR
        - ÏÉÅÌïúÍ∞í(upper_bound) : Q3 + 1.5 * IQR

In [66]:
#  IQR Î∞©Î≤ïÏùÑ ÌôúÏö©Ìïú Í∞Å Ïª¨ÎüºÏùò Ïù¥ÏÉÅÏπò ÌôïÏù∏

# ÌäπÏ†ï Ïó¥Ïùò Ïù¥ÏÉÅÏπò ÌôïÏù∏ (IQR Î∞©Î≤ï)
# Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùò quantile Î©îÏÑúÎìúÎäî ÌäπÏ†ï Î∞±Î∂ÑÏúÑÏàò(quantile)Ïóê Ìï¥ÎãπÌïòÎäî Í∞íÏùÑ ÏÖ∞ÏÇ∞ÌïòÎäî Îç∞ ÏÇ¨Ïö©ÎêúÎã§. Ï£ºÏñ¥ÏßÑ Î∞±Î∂ÑÏúÑÏàòÎ•º Í∏∞Ï§ÄÏúºÎ°ú Îç∞Ïù¥ÌÑ∞Î•º ÎÇòÎà†Ï£ºÎäî Í∞íÏùÑ Î∞òÌôòÌïúÎã§.
Q1 = df['CRIM'].quantile(0.25)
Q3 = df['CRIM'].quantile(0.75)
IQR = Q3 - Q1

# Ïù¥ÏÉÅÏπò Î≤îÏúÑ ÏÑ§Ï†ï
lower_bound = Q1 - 1.5 * IQR # ÌïòÌïúÍ∞í
upper_bound = Q3 + 1.5 * IQR # ÏÉÅÌïúÍ∞í

In [67]:
# Ìï¥Îãπ Ïª¨ÎüºÏóêÏÑú Ïù¥ÏÉÅÏπòÍ∞Ä ÏûàÎäî Ìñâ ÌôïÏù∏Ìï¥Î≥¥Í∏∞ (ÌïòÌïúÍ∞íÎ≥¥Îã§ ÏûëÍ±∞ÎÇò ÏÉÅÌïúÍ∞íÎ≥¥Îã§ ÌÅ∞ Í∞íÏùÄ Ïù¥ÏÉÅÏπòÎ°ú Í∞ÑÏ£ºÌïúÎã§.)
outliers = df[(df['CRIM'] < lower_bound) | (df['CRIM'] > upper_bound)]
print(outliers) # Ïù¥ÏÉÅÏπòÎ°ú Í∞ÑÏ£ºÎêòÎäî Îç∞Ïù¥ÌÑ∞ Ìè¨Ïù∏Ìä∏Îì§ÏùÑ Î≥¥Ïó¨Ï§ÄÎã§.

         CRIM   ZN      INDUS  CHAS    NOX     RM         AGE     DIS  RAD  \
356   8.98296  0.0  18.100000   1.0  0.770  6.212   97.400000  2.1222   24
371   9.23230  0.0  18.100000   0.0  0.631  6.216  100.000000  1.1691   24
373  11.10810  0.0  18.100000   0.0  0.668  4.906  100.000000  1.1742   24
374  18.49820  0.0  18.100000   0.0  0.668  4.138  100.000000  1.1370   24
377   9.82349  0.0  18.100000   0.0  0.671  6.794   98.800000  1.3580   24
378  23.64820  0.0  18.100000   0.0  0.671  6.380   96.200000  1.3861   24
379  17.86670  0.0  18.100000   0.0  0.671  6.223  100.000000  1.3861   24
380  88.97620  0.0  18.100000   0.0  0.671  6.968   91.900000  1.4165   24
381  15.87440  0.0  18.100000   0.0  0.671  6.545   99.100000  1.5192   24
382   9.18702  0.0  18.100000   0.0  0.700  5.536  100.000000  1.5804   24
384  20.08490  0.0  18.100000   0.0  0.700  4.368   91.200000  1.4395   24
385  16.81180  0.0  18.100000   0.0  0.700  5.277   98.100000  1.4261   24
386  24.39380  0.0  18.100000   0.0  0.700  4.652  100.000000  1.4672   24
387  22.59710  0.0  18.100000   0.0  0.700  5.000   89.500000  1.5184   24
392  11.57790  0.0  18.100000   0.0  0.700  5.036   97.000000  1.7700   24
398  38.35180  0.0  18.100000   0.0  0.693  5.453  100.000000  1.4896   24
399   9.91655  0.0  18.100000   0.0  0.693  5.852   77.800000  1.5004   24
400  25.04610  0.0  18.100000   0.0  0.693  5.987  100.000000  1.5888   24
402   9.59571  0.0  18.100000   0.0  0.693  6.404  100.000000  1.6390   24
403  24.80170  0.0  18.100000   0.0  0.693  5.349   96.000000  1.7028   24
404  41.52920  0.0  18.100000   0.0  0.693  5.531   85.400000  1.6074   24
405  67.92080  0.0  18.100000   0.0  0.693  5.683  100.000000  1.4254   24
406  20.71620  0.0  11.083992   0.0  0.659  4.138  100.000000  1.1781   24
407  11.95110  0.0  18.100000   0.0  0.659  5.608  100.000000  1.2852   24
410  51.13580  0.0  18.100000   0.0  0.597  5.757  100.000000  1.4130   24
411  14.05070  0.0  18.100000   0.0  0.597  6.657  100.000000  1.5275   24
412  18.81100  0.0  18.100000   0.0  0.597  4.628  100.000000  1.5539   24
413  28.65580  0.0  18.100000   0.0  0.597  5.155  100.000000  1.5894   24
414  45.74610  0.0  18.100000   0.0  0.693  4.519  100.000000  1.6582   24
415  18.08460  0.0  18.100000   0.0  0.679  6.434  100.000000  1.8347   24
416  10.83420  0.0  18.100000   0.0  0.679  6.782   90.800000  1.8195   24
417  25.94060  0.0  18.100000   0.0  0.679  5.304   89.100000  1.6475   24
418  73.53410  0.0  18.100000   0.0  0.679  5.957  100.000000  1.8026   24
419  11.81230  0.0  18.100000   0.0  0.718  6.824   76.500000  1.7940   24
420  11.08740  0.0  18.100000   0.0  0.718  6.411  100.000000  1.8589   24
422  12.04820  0.0  18.100000   0.0  0.614  5.648   87.600000  1.9512   24
425  15.86030  0.0  18.100000   0.0  0.679  5.896   95.400000  1.9096   24
429   9.33889  0.0  18.100000   0.0  0.679  6.380   68.518519  1.9682   24
431  10.06230  0.0  18.100000   0.0  0.584  6.833   94.300000  2.0882   24
434  13.91340  0.0  18.100000   0.0  0.713  6.208   95.000000  2.2222   24
435  11.16040  0.0  18.100000   0.0  0.740  6.629   94.600000  2.1247   24
436  14.42080  0.0  18.100000   0.0  0.740  6.461   93.300000  2.0026   24
437  15.17720  0.0  18.100000   0.0  0.740  6.152  100.000000  1.9142   24
438  13.67810  0.0  18.100000   0.0  0.740  5.935   87.900000  1.8206   24
439   9.39063  0.0  18.100000   0.0  0.740  5.627   93.900000  1.8172   24
440  22.05110  0.0  18.100000   0.0  0.740  5.818   92.400000  1.8662   24
441   9.72418  0.0  18.100000   0.0  0.740  6.406   97.200000  2.0651   24
443   9.96654  0.0  18.100000   0.0  0.740  6.485  100.000000  1.9784   24
444  12.80230  0.0  18.100000   0.0  0.740  5.854   96.600000  1.8956   24
445  10.67180  0.0  18.100000   0.0  0.740  6.459   94.800000  1.9879   24
447   9.92485  0.0  18.100000   0.0  0.740  6.251   96.600000  2.1980   24
448   9.32909  0.0  18.100000   0.0  0.713  6.185   98.700000  2.2616   24
454   9.51363  0.0  18.100000   0.0  0.713  6.728   94.100000  2.4961   24
468  15.57570  0.0  18.100000   0.0  0.580  5.926   71.000000  2.9084   24
469  13.07510  0.0  18.100000   0.0  0.580  5.713   56.700000  2.8237   24
477  15.02340  0.0  18.100000   0.0  0.614  5.304   97.300000  2.1007   24
478  10.23300  0.0  18.100000   0.0  0.614  6.185   96.700000  2.1705   24

     TAX  PTRATIO       B      LSTAT  MEDV
356  666     20.2  377.73  17.600000  17.8
371  666     20.2  366.15   9.530000  50.0
373  666     20.2  396.90  34.770000  13.8
374  666     20.2  396.90  37.970000  13.8
377  666     20.2  396.90  21.240000  13.3
378  666     20.2  396.90  23.690000  13.1
379  666     20.2  393.74  21.780000  10.2
380  666     20.2  396.90  17.210000  10.4
381  666     20.2  396.90  21.080000  10.9
382  666     20.2  396.90  23.600000  11.3
384  666     20.2  285.83  30.630000   8.8
385  666     20.2  396.90  30.810000   7.2
386  666     20.2  396.90  28.280000  10.5
387  666     20.2  396.90  31.990000   7.4
392  666     20.2  396.90  25.680000   9.7
398  666     20.2  396.90  30.590000   5.0
399  666     20.2  338.16  29.970000   6.3
400  666     20.2  396.90  26.770000   5.6
402  666     20.2  376.11  20.310000  12.1
403  666     20.2  396.90  19.770000   8.3
404  666     20.2  329.46  27.380000   8.5
405  666     20.2  384.97  22.980000   5.0
406  666     20.2  370.22  23.340000  11.9
407  666     20.2  332.09  12.715432  27.9
410  666     20.2    2.60  10.110000  15.0
411  666     20.2   35.05  21.220000  17.2
412  666     20.2   28.79  34.370000  17.9
413  666     20.2  210.97  20.080000  16.3
414  666     20.2   88.27  36.980000   7.0
415  666     20.2   27.25  29.050000   7.2
416  666     20.2   21.57  25.790000   7.5
417  666     20.2  127.36  26.640000  10.4
418  666     20.2   16.45  20.620000   8.8
419  666     20.2   48.45  22.740000   8.4
420  666     20.2  318.75  15.020000  16.7
422  666     20.2  291.55  14.100000  20.8
425  666     20.2    7.68  24.390000   8.3
429  666     20.2   60.72  24.080000   9.5
431  666     20.2   81.33  19.690000  14.1
434  666     20.2  100.63  15.170000  11.7
435  666     20.2  109.85  23.270000  13.4
436  666     20.2   27.49  18.050000   9.6
437  666     20.2    9.32  26.450000   8.7
438  666     20.2   68.95  34.020000   8.4
439  666     20.2  396.90  22.880000  12.8
440  666     20.2  391.45  12.715432  10.5
441  666     20.2  385.96  12.715432  17.1
443  666     20.2  386.73  18.850000  15.4
444  666     20.2  240.52  23.790000  10.8
445  666     20.2   43.06  23.980000  11.8
447  666     20.2  388.52  16.440000  12.6
448  666     20.2  396.90  18.130000  14.1
454  666     20.2    6.68  18.710000  14.9
468  666     20.2  368.74  18.130000  19.1
469  666     20.2  396.90  14.760000  20.1
477  666     20.2  349.48  24.910000  12.0
478  666     20.2  379.70  18.030000  14.6

In [68]:
# Ïù¥ÏÉÅÏπò Ï≤òÎ¶¨
# Ïù¥ÏÉÅÏπòÎ•º ÌèâÍ∑†Í∞íÏúºÎ°ú ÎåÄÏ≤¥
mean_value = df['CRIM'].mean()
# Ìï¥Îãπ Ïó¥ Ï†ÑÏ≤¥Ïùò Í∞Å Îç∞Ïù¥ÌÑ∞ Ìè¨Ïù∏ÌÑ∞Î•º Í≤ÄÏÇ¨ÌïòÏó¨ Ïù¥ÏÉÅÏπòÏù∏ Í≤ΩÏö∞ ÌèâÍ∑†Í∞íÏúºÎ°ú ÎåÄÏ≤¥ÌïòÍ≥†, Í∑∏Î†áÏßÄ ÏïäÏùÄ Í≤ΩÏö∞ ÏõêÎûò Í∞íÏùÑ Ïú†ÏßÄÌïúÎã§.
df['CRIM'] = df['CRIM'].apply(lambda x: mean_value if x < lower_bound or x > upper_bound else x)

outliers = df[(df['CRIM'] < lower_bound) | (df['CRIM'] > upper_bound)]
print(outliers) # Ïù¥ÏÉÅÏπòÎ•º Ï≤òÎ¶¨Í∞Ä ÎêêÎäîÏßÄ ÌôïÏù∏

Empty DataFrame
Columns: [CRIM, ZN, INDUS, CHAS, NOX, RM, AGE, DIS, RAD, TAX, PTRATIO, B, LSTAT, MEDV]
Index: []

Ïù¥Ï†ú Ïù¥ Í≥ºÏ†ïÏùÑ ÎÇòÎ®∏ÏßÄ Î™®Îì† Ïª¨ÎüºÏóê Î∞òÎ≥µÌï¥Ï£ºÎ©¥ Îç∞Ïù¥ÌÑ∞ÏÖã Ï†ÑÏ≤¥Ïùò Ïù¥ÏÉÅÏπò Ï≤òÎ¶¨ ÏôÑÎ£å.

In [69]:
# Ìï¥Îãπ Í≥ºÏ†ïÏùÑ ÎÇòÎ®∏ÏßÄ Î™®Îì† Ïª¨ÎüºÏóê Î∞òÎ≥µ

columns = ['ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']

for column in columns:
    Q1 = df[column].quantile(0.25) # 1ÏÇ¨Î∂ÑÏúÑ
    Q3 = df[column].quantile(0.75) # 3ÏÇ¨Î∂ÑÏúÑ
    IQR = Q3 - Q1 # IQR
    
    # Ïù¥ÏÉÅÏπò ÌÉêÏßÄ Î≤îÏúÑ ÏÑ§Ï†ï
    lower_bound = Q1 - 1.5 * IQR # ÌïòÌïúÍ∞í
    upper_bound = Q3 + 1.5 * IQR # ÏÉÅÌïúÍ∞í

    # Ïª¨ÎüºÏùò ÌèâÍ∑†Í∞í Í≥ÑÏÇ∞
    mean_value = df[column].mean()
    
    # Ïù¥ÏÉÅÏπòÎ•º ÌèâÍ∑†Í∞íÏúºÎ°ú ÎåÄÏ≤¥
    df[column] = df[column].apply(lambda x: mean_value if x < lower_bound or x > upper_bound else x)

Ïù¥Ï†ú Í≤∞Ï∏°Í∞íÍ≥º Ïù¥ÏÉÅÏπòÎ•º Ï≤òÎ¶¨ÌñàÏúºÎãà Î®∏Ïã†Îü¨Îãù Î™®Îç∏ÏùÑ ÏúÑÌïú ÌäπÏßïÏùÑ ÏÑ†ÌÉùÌïòÏûê!

#### üìù ÌäπÏßï ÏÑ†ÌÉù(Feature Selection) Î∞è Ï∂îÏ∂ú(Feature Extraction)

- Î®∏Ïã†Îü¨Îãù Î™®Îç∏ ÏÑ±Îä•ÏùÑ ÎÜíÏù¥Í∏∞ ÏúÑÌï¥ Ï§ëÏöîÌïú ÌäπÏßïÏùÑ ÏÑ†ÌÉùÌïòÍ±∞ÎÇò ÏÉàÎ°úÏö¥ ÌäπÏßïÏùÑ Ï∂îÏ∂úÌïòÎäî Í≥ºÏ†ï. 
- ÌäπÏßï ÏÑ†ÌÉù Í≥ºÏ†ïÏùÑ ÌÜµÌï¥ Î™®Îç∏ ÌïôÏäµÏóê Í∞ÄÏû• Ïú†Ïö©Ìïú ÌäπÏßïÎì§ÏùÑ ÏÑ†Î≥ÑÌïòÍ≥†, Ïù¥Î•º Ìè¨Ìï®ÌïòÎäî ÏÉàÎ°úÏö¥ ÏûÖÎ†• Îç∞Ïù¥ÌÑ∞Î•º ÎßåÎì§Ïñ¥ Î™®Îç∏ÏùÑ ÌïôÏäµÏãúÌÇ§Îäî Í≤ÉÏù¥Îã§. Ïù¥Îü∞ Ï†ëÍ∑ºÎ≤ïÏùÄ Î™®Îç∏Ïùò ÏÑ±Îä•ÏùÑ ÏµúÏ†ÅÌôîÌïòÍ≥† Í≥ÑÏÇ∞ ÎπÑÏö©ÏùÑ Ï§ÑÏó¨Ï§Ñ Ïàò ÏûàÎã§.
- Ìïú ÎßàÎîîÎ°ú, ÌäπÏßïÏùÑ ÏÑ†ÌÉùÌïúÎã§Îäî Í≤ÉÏùÄ Í∏∞Ï°¥ ÏûÖÎ†• Îç∞Ïù¥ÌÑ∞ÏóêÏÑú, ÌäπÏ†ï Ïª¨ÎüºÏùÑ ÏÑ†ÌÉùÌïòÏó¨ Î™®Îç∏ ÌïôÏäµÏóê Í∞ÄÏû• Ïú†Ïö©Ìïú ÌäπÏßï(Ïª¨Îüº)ÎßåÏùÑ Ìè¨Ìï®ÌïòÎäî ÏÉàÎ°úÏö¥ ÏûÖÎ†• Îç∞Ïù¥ÌÑ∞Î•º ÎßåÎì†Îã§Îäî ÎúªÏù¥Îã§. Î∂àÌïÑÏöîÌïú ÌäπÏßïÏùÑ Ï†úÍ±∞ÌïòÏó¨ Í≥ÑÏÇ∞ ÎπÑÏö©ÏùÑ Ï§ÑÏûÑ!

Îã§ÏùåÏùÄ scikit-learn ÎùºÏù¥Î∏åÎü¨Î¶¨Ïùò SelectKBest ÌÅ¥ÎûòÏä§Î•º ÏÇ¨Ïö©ÌïòÏó¨ ÏÉÅÏúÑ 5Í∞úÏùò Ï§ëÏöîÌïú ÌäπÏßïÏùÑ ÏÑ†ÌÉùÌïòÎäî Í≥ºÏ†ïÏù¥Îã§.

#### **SelectKBest ÌÅ¥ÎûòÏä§**

- scikit-learn ÎùºÏù¥Î∏åÎü¨Î¶¨Ïùò SelectKBest ÌÅ¥ÎûòÏä§Îäî Í∞ÄÏû• Ï¢ãÏùÄ KÍ∞úÏùò ÌäπÏßïÏùÑ ÏÑ†ÌÉùÌïòÎäî Îç∞ ÏÇ¨Ïö©ÎêúÎã§.
- Ïó¨Í∏∞ÏÑú 'Í∞ÄÏû• Ï¢ãÏùÄ'ÏùÑ Í≤∞Ï†ïÌïòÎäî Í∏∞Ï§ÄÏùÄ ÌäπÏßï ÏÑ†ÌÉù Î∞©Î≤ïÏóê Îî∞Îùº Îã¨ÎùºÏßÄÎäîÎç∞, Ïó¨Îü¨ Í∞ÄÏßÄ Î∞©Î≤ïÏù¥ ÏûàÏßÄÎßå SelectKBestÏôÄ f_classifÎ•º ÏÇ¨Ïö©ÌïòÎäî Í≤ΩÏö∞ 'Í∞ÄÏû• Ï¢ãÏùÄ' ÌäπÏßïÏùÑ Í≤∞Ï†ïÌïòÎäî Í∏∞Ï§ÄÏùÄ ANOVA F-Í≤ÄÏ†ï(Analysis of Variance F-test)ÏùÑ Í∏∞Î∞òÏúºÎ°ú ÌïúÎã§.

#### **ANOVA F-Í≤ÄÏ†ï**

- Î™©Ï†Å: **Í∞Å ÌäπÏßïÏù¥ ÌÉÄÍ≤ü Î≥ÄÏàòÏôÄ ÏñºÎßàÎÇò Í∞ïÌïú ÏÉÅÍ¥ÄÍ¥ÄÍ≥ÑÎ•º Í∞ÄÏßÄÎäîÏßÄ** ÌèâÍ∞ÄÌïúÎã§.
- F-ÌÜµÍ≥ÑÎüâ: Í∞Å ÌäπÏßïÏùò ÏÑ§Î™ÖÎ†•Ïù¥ ÌÉÄÍ≤ü Î≥ÄÏàòÏóê ÏñºÎßàÎÇò Í∏∞Ïó¨ÌïòÎäîÏßÄÎ•º ÎÇòÌÉÄÎÇ¥Îäî ÌÜµÍ≥ÑÎüâÏù¥Îã§.
    - ÎÜíÏùÄ F-ÌÜµÍ≥ÑÎüâ: Ìï¥Îãπ ÌäπÏßïÏù¥ ÌÉÄÍ≤ü Î≥ÄÏàòÏôÄ Í∞ïÌïú ÏÉÅÍ¥ÄÍ¥ÄÍ≥ÑÎ•º Í∞ÄÏßÄÎ©∞, 'Ï¢ãÏùÄ' ÌäπÏßïÏúºÎ°ú Í∞ÑÏ£ºÎêúÎã§.

- ÌäπÏßï ÏÑ†ÌÉù Í≥ºÏ†ï
    - ÌäπÏßï ÌèâÍ∞Ä: Í∞Å ÌäπÏßïÏóê ÎåÄÌï¥ ANOVA F-Í≤ÄÏ†ïÏùÑ ÏàòÌñâÌïòÏó¨ F-ÌÜµÍ≥ÑÎüâÏùÑ Í≥ÑÏÇ∞ÌïúÎã§.
    - ÏàúÏúÑ Îß§Í∏∞Í∏∞: F-ÌÜµÍ≥ÑÎüâÏóê Îî∞Îùº ÌäπÏßïÏùÑ ÎÇ¥Î¶ºÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨ÌïúÎã§.
    - ÌäπÏßï ÏÑ†ÌÉù: Í∞ÄÏû• ÎÜíÏùÄ F-ÌÜµÍ≥ÑÎüâÏùÑ Í∞ÄÏßÑ ÏÉÅÏúÑ KÍ∞úÏùò ÌäπÏßïÏùÑ ÏÑ†ÌÉùÌïúÎã§. 
  
#### **f_classif**

- Î∂ÑÏÇ∞Î∂ÑÏÑù(ANOVA) F-Í≤ÄÏ†ïÏùÑ ÏàòÌñâÌïòÎäî Ìï®ÏàòÎ°ú, **Í∞Å ÌäπÏßïÏùò Ï§ëÏöîÎèÑÎ•º ÌèâÍ∞Ä**ÌïúÎã§.

In [70]:
# Î™®Îç∏ÏóêÏÑú Ï§ëÏöîÌïú ÌäπÏßïÏùÑ ÏÑ†ÌÉùÌïòÎäî Í≥ºÏ†ï

# ÌäπÏßï ÏÑ†ÌÉùÎ∞©Î≤ï ÏÑ§Ï†ï
from sklearn.feature_selection import SelectKBest, f_classif

# ÏûÖÎ†• Îç∞Ïù¥ÌÑ∞(X)ÏôÄ ÌÉÄÍ≤ü Î≥ÄÏàò(y) ÏÑ§Ï†ï 
# ÏòàÏãúÎ°ú 'MEDV'(Ï£ºÌÉù Í∞ÄÍ≤© Îç∞Ïù¥ÌÑ∞ÏÖãÏóêÏÑú Ï£ºÌÉù Í∞ÄÍ≤©Ïùò Ï§ëÍ∞ÑÍ∞í)Î•º ÌÉÄÍ≤ü Î≥ÄÏàòÎ°ú ÏÑ§Ï†ï. Ï¶â, 'MEDV'Îäî ÏòàÏ∏°ÌïòÍ≥†Ïûê ÌïòÎäî ÌÉÄÍ≤ü Î≥ÄÏàòÏù¥Í∏∞ ÎïåÎ¨∏Ïóê ÏûÖÎ†•Îç∞Ïù¥ÌÑ∞ÏóêÏÑú Ï†úÏô∏Ìï¥Ïïº ÌïúÎã§.(Ï†ïÎãµÏßÄ Ï£ºÍ≥† ÌïôÏäµÏãúÌÇ§Î©¥ ÏïàÎê®!)

# X : ÏûÖÎ†• Îç∞Ïù¥ÌÑ∞. Î™®Îç∏Ïù¥ ÌïôÏäµÌïòÎäîÎç∞ ÏÇ¨Ïö©ÌïòÎäî ÌäπÏßï(features)Îì§ÏùÑ Îã¥Í≥† ÏûàÎäî Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ
# ÌÉÄÍ≤üÎ≥ÄÏàòÏù∏ 'MEDV'Î•º Ï†úÏô∏Ìïú Î™®Îì† Ïó¥Ïù¥ Ìè¨Ìï®Îêú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ
X = df.drop(columns=['MEDV']) 

# y : ÏòàÏ∏°Ìï¥Ïïº ÌïòÎäî Î™©ÌëúÍ∞íÏùÑ Îã¥Í≥† ÏûàÎäî ÏãúÎ¶¨Ï¶à ÎòêÎäî Î≤°ÌÑ∞
y = df['MEDV'] # Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏóêÏÑú MEDV Ïó¥ÏùÑ ÏÑ†ÌÉùÌïòÏó¨ ÌÉÄÍ≤üÎ≥ÄÏàòÎ°ú ÏÑ§Ï†ïÌïúÎã§.


# SelectKBest Í∞ùÏ≤¥ ÏÉùÏÑ±(Í∞Å ÌäπÏßïÏùò Ï§ëÏöîÎèÑÎ•º ÌèâÍ∞ÄÌï† Ìï®ÏàòÎ°ú f_classifÎ•º ÏÇ¨Ïö©ÌïòÍ≥†, ÏÉÅÏúÑ 5Í∞úÏùò ÌäπÏßïÏùÑ ÏÑ†ÌÉùÌïúÎã§.)
# Ïó¨Í∏∞ÏÑú selectorÎäî ÏÉÅÏúÑ 5Í∞úÏùò ÌäπÏßïÏùÑ ÏÑ†ÌÉùÌï† Ïàò ÏûàÎèÑÎ°ù ÌïòÎäî Î©îÏª§ÎãàÏ¶òÏùÑ ÏÑ§Ï†ïÌïòÎäî Í∞ùÏ≤¥Ïù¥Îã§.
selector = SelectKBest(score_func = f_classif, k=5) 

# Îç∞Ïù¥ÌÑ∞Ïóê ÎßûÏ∂îÍ∏∞ (fit) Î∞è Î≥ÄÌôò (transform)

# fit_transform Î©îÏÑúÎìúÎ•º ÏÇ¨Ïö©ÌïòÏó¨ ÏûÖÎ†• Îç∞Ïù¥ÌÑ∞ XÏôÄ ÌÉÄÍ≤üÎ≥ÄÏàò yÏóê ÎßûÏ∂∞ÏÑú ÌïôÏäµ(fit)ÌïòÍ≥†, ÏÉÅÏúÑ 5Í∞úÏùò Ï§ëÏöîÌïú ÌäπÏßïÏùÑ ÏÑ†ÌÉùÌïòÏó¨ Î≥ÄÌôò(transform)ÌïúÎã§.
# Í≤∞Í≥ºÏ†ÅÏúºÎ°ú ÏÑ†ÌÉùÎêú ÏÉÅÏúÑ 5Í∞úÏùò ÌäπÏßïÏù¥ Ìè¨Ìï®Îêú ÏÉàÎ°úÏö¥ Îç∞Ïù¥ÌÑ∞ X_new Í∞Ä ÏÉùÏÑ±ÎêúÎã§.

# ÏûÖÎ†• Îç∞Ïù¥ÌÑ∞ XÏôÄ ÌÉÄÍ≤ü Î≥ÄÏàò yÎ•º ÏÇ¨Ïö©ÌïòÏó¨ Î™®Îç∏ÏùÑ ÌïôÏäµ(fit)ÌïòÍ≥†, ÏÉÅÏúÑ 5Í∞úÏùò ÌäπÏßïÏù¥ Ìè¨Ìï®Îêú ÏÉàÎ°úÏö¥ Îç∞Ïù¥ÌÑ∞ X_newÎ•º Î∞òÌôòÌïúÎã§.
# fit_transform Î©îÏÑúÎìúÎäî Scikit-learnÍ≥º Í∞ôÏùÄ Î®∏Ïã†Îü¨Îãù ÎùºÏù¥Î∏åÎü¨Î¶¨ÏóêÏÑú Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨ÏôÄ ÌäπÏßï ÏÑ†ÌÉùÍ≥º Í∞ôÏùÄ ÏûëÏóÖÏùÑ ÏàòÌñâÌïúÎã§.
# Î®ºÏ†Ä Îç∞Ïù¥ÌÑ∞Ïóê ÎßûÏ∂îÏñ¥ Î™®Îç∏Ïù¥ÎÇò Î≥ÄÌôòÍ∏∞Î•º ÌïôÏäµ(fit)ÌïúÎã§. Ïù¥ Í≥ºÏ†ïÏóêÏÑúÎäî Î™®Îç∏Ïù¥ Îç∞Ïù¥ÌÑ∞Ïùò Íµ¨Ï°∞ÎÇò Î∂ÑÌè¨Î•º ÌïôÏäµÌïòÍ≤å ÎêúÎã§.
# ÌïôÏäµÎêú Î™®Îç∏Ïù¥ÎÇò Î≥ÄÌôòÍ∏∞Î•º ÏÇ¨Ïö©ÌïòÏó¨ Îç∞Ïù¥ÌÑ∞Î•º Î≥ÄÌôò(transform)Ìï©ÎãàÎã§. Ïù¥ Í≥ºÏ†ïÏóêÏÑúÎäî ÌïôÏäµÎêú Ï†ïÎ≥¥Î•º Î∞îÌÉïÏúºÎ°ú Îç∞Ïù¥ÌÑ∞Î•º Ïã§Ï†úÎ°ú Î≥ÄÌôòÌïòÏó¨ ÏÉàÎ°úÏö¥ ÌòïÏãùÏúºÎ°ú Î∞òÌôòÌï©ÎãàÎã§.
X_new = selector.fit_transform(X, y) 

# get_support Î©îÏÑúÎìúÎäî sklearnÏùò ÌäπÏßï ÏÑ†ÌÉù ÌÅ¥ÎûòÏä§ÏóêÏÑú ÏÇ¨Ïö©ÎêòÎ©∞, ÏÑ†ÌÉùÎêú ÌäπÏßïÏùò Ïù∏Îç±Ïä§Î•º Î∞òÌôòÌïúÎã§.
# ÏÑ†ÌÉùÎêú ÌäπÏßïÏùò Ïù∏Îç±Ïä§Î•º Î∞òÌôòÌïúÎã§. Ïù¥Î•º ÌÜµÌï¥ Ïñ¥Îñ§ ÌäπÏßï(Ïñ¥Îñ§ Ìñâ)Ïù¥ ÏÑ†ÌÉùÎêòÏóàÎäîÏßÄ ÌôïÏù∏Ìï† Ïàò ÏûàÎã§.
# ndices=True ÏòµÏÖòÏùÄ Î©îÏÑúÎìúÍ∞Ä, ÏÑ†ÌÉùÎêú ÌäπÏßïÏùò Ïù∏Îç±Ïä§Î•º Î∞òÌôòÌïòÎèÑÎ°ù ÏßÄÏ†ïÌïúÎã§. ÏÑ†ÌÉùÎêú ÌäπÏßïÏùò Ïù∏Îç±Ïä§Îäî Ìï¥Îãπ ÌäπÏßïÏù¥ ÏûÖÎ†• Îç∞Ïù¥ÌÑ∞ÏóêÏÑú Î™á Î≤àÏß∏ 'Ïó¥'Ïóê ÏúÑÏπòÌï¥ ÏûàÎäîÏßÄÎ•º ÎÇòÌÉÄÎÇ∏Îã§.
selected_features = selector.get_support(indices=True) 
print("ÏÑ†ÌÉùÎêú ÌäπÏßïÏùò Ïù∏Îç±Ïä§:", selected_features) 
print("ÏÑ†ÌÉùÎêú ÌäπÏßï:", X.columns[selected_features]) # ÏÑ†ÌÉùÎêú ÏÉÅÏúÑ 5Í∞úÏùò ÌäπÏßï Ïª¨ÎüºÏùÑ Î≥¥Ïó¨Ï§å

ÏÑ†ÌÉùÎêú ÌäπÏßïÏùò Ïù∏Îç±Ïä§: [ 2  4  5  9 12]
ÏÑ†ÌÉùÎêú ÌäπÏßï: Index(['INDUS', 'NOX', 'RM', 'TAX', 'LSTAT'], dtype='object')

‚≠êÔ∏è X_newÎäî SelectKBestÎ•º ÏÇ¨Ïö©ÌïòÏó¨ Í∏∞Ï°¥Ïùò ÏûÖÎ†• Îç∞Ïù¥ÌÑ∞ XÏóêÏÑú Ï§ëÏöîÌïú ÏÉÅÏúÑ KÍ∞úÏùò ÌäπÏßïÎßåÏùÑ Ìè¨Ìï®ÌïòÎäî ÏÉàÎ°úÏö¥ ÏûÖÎ†• Îç∞Ïù¥ÌÑ∞Ïù∏ Í≤ÉÏù¥Îã§! ‚≠êÔ∏è

X_newÏóêÎäî ÏÑ†ÌÉùÎêú ÏÉÅÏúÑ KÍ∞úÏùò ÌäπÏßï(Ïª¨Îüº)Îßå Ìè¨Ìï®ÎêòÏñ¥ ÏûàÍ≥†, ÎÇòÎ®∏ÏßÄ ÌäπÏßïÎì§ÏùÄ Î™®Îëê Ï†úÍ±∞Îêú ÏÉÅÌÉúÎã§.

ÏöîÏïΩ
- Í∏∞Ï°¥Ïùò ÏûÖÎ†• Îç∞Ïù¥ÌÑ∞ X : ÏõêÎûòÏùò Î™®Îì† ÌäπÏßï(Ïª¨Îüº)ÏùÑ Ìè¨Ìï®Ìïú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ.
- ÏÉàÎ°úÏö¥ ÏûÖÎ†• Îç∞Ïù¥ÌÑ∞ X_new : SelectKBestÏóê ÏùòÌï¥ ÏÑ†ÌÉùÎêú Ï§ëÏöîÌïú ÏÉÅÏúÑ KÍ∞úÏùò ÌäπÏßï(Ïª¨Îüº)ÎßåÏùÑ Ìè¨Ìï®Ìïú ÎÑòÌååÏù¥ Î∞∞Ïó¥(array). X_newÎäî XÏôÄÎäî Îã¨Î¶¨ ÏÑ†ÌÉùÎêú kÍ∞úÏùò Ïó¥ÎßåÏùÑ Í∞ñÍ≤å ÎêúÎã§.

X_newÎäî fit_transform Î©îÏÑúÎìúÏùò Í≤∞Í≥ºÎ°ú ÏÉùÏÑ±Îêú NumPy Î∞∞Ïó¥(array)Ïù¥Îã§. Ïù¥Îäî Î™®Îç∏ ÌïôÏäµÍ≥º Í∞ôÏùÄ Î®∏Ïã†Îü¨Îãù ÏûëÏóÖÏóê ÏµúÏ†ÅÌôîÎêú ÌòïÏãùÏù¥Îã§.

- NumPy Î∞∞Ïó¥ÏùÄ ÏÑ±Îä•Ïù¥ Îõ∞Ïñ¥ÎÇòÍ≥†, Îã§Ï∞®Ïõê Î∞∞Ïó¥ Ïó∞ÏÇ∞ÏùÑ ÏâΩÍ≤å ÏàòÌñâÌï† Ïàò ÏûàÍ∏∞ ÎïåÎ¨∏Ïóê Î®∏Ïã†Îü¨Îãù Î™®Îç∏ ÌïôÏäµÏóê Îß§Ïö∞ Ï†ÅÌï©ÌïòÎã§.

In [71]:
# ÏÉàÎ°úÏö¥ ÏûÖÎ†• Îç∞Ïù¥ÌÑ∞ X_new ÌôïÏù∏
X_new

array([[  2.31 ,   0.538,   6.575, 296.   ,   4.98 ],
       [  7.07 ,   0.469,   6.421, 242.   ,   9.14 ],
       [  7.07 ,   0.469,   7.185, 242.   ,   4.03 ],
       ...,
       [ 11.93 ,   0.573,   6.976, 273.   ,   5.64 ],
       [ 11.93 ,   0.573,   6.794, 273.   ,   6.48 ],
       [ 11.93 ,   0.573,   6.03 , 273.   ,   7.88 ]])

In [75]:
print(X_new.shape) # Ïó¨Ï†ÑÌûà 466ÌñâÏù¥Í≥†, ÏÉÅÏúÑ 5Í∞ú ÌäπÏßï Ïó¥Îßå ÎΩëÏïÑÏÑú 5Ïó¥Ïù∏ Î∞∞Ïó¥ÏûÑÏùÑ Ïïå Ïàò ÏûàÎã§.

(466, 5)

In [74]:
# Î∞∞Ïó¥ÏùÑ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú Î∞îÍøîÏÑú ÌôïÏù∏Ìï¥Î≥¥Ïûê
X_new_df = pd.DataFrame(X_new, columns=X.columns[selected_features]) 
print("X_new (Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ):")
print(X_new_df)

X_new (Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ):
     INDUS    NOX     RM    TAX      LSTAT
0     2.31  0.538  6.575  296.0   4.980000
1     7.07  0.469  6.421  242.0   9.140000
2     7.07  0.469  7.185  242.0   4.030000
3     2.18  0.458  6.998  222.0   2.940000
4     2.18  0.458  7.147  222.0  12.715432
..     ...    ...    ...    ...        ...
461  11.93  0.573  6.593  273.0  12.715432
462  11.93  0.573  6.120  273.0   9.080000
463  11.93  0.573  6.976  273.0   5.640000
464  11.93  0.573  6.794  273.0   6.480000
465  11.93  0.573  6.030  273.0   7.880000

[466 rows x 5 columns]

Ïù¥Ï†ú ÌäπÏßï ÏÑ†ÌÉùÏù¥ ÏôÑÎ£åÎêú ÏÉàÎ°úÏö¥ ÏûÖÎ†•Îç∞Ïù¥ÌÑ∞ X_newÍπåÏßÄ Íµ¨Ìï¥ÎÜ®ÏúºÎãà, Î™®Îç∏ÏùÑ ÎßåÎì§Ïñ¥Î≥¥Ïûê !